
.Footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    height: auto;
    max-width: 100%;
    display:block;
    background-color: #f5f5f5;
  }

.footerList{
    display:  flex;
}


.logo  {
    width: 97px;
  height: 47px;
  object-fit: contain;
  margin-left: 419px;
  margin-top: 60px;

}
  
.Help-Information {
    object-fit: contain;
    padding-left: 419px;
      padding-top: 61px;

    width: 303px;
    height: 30.8px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
.About-GQ {
    padding-left: 35px;
    padding-top: 61px;

    width: 302px;
    height: 30.8px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }

  .Subscribe {
    padding-left: 9px;
    padding-top: 61px;

    width: 303px;
    height: 30.8px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
   

   .Lorem-ipsum-dolor-si {
    width: 275px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
  .Lorem-ipsum-dolor-si-Copy {
    width: 274px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
  .Lorem-ipsum-dolor-si-Copy-2 {
    width: 274px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
  .Lorem-ipsum-dolor-si-Copy-3 {
    width: 274px;
  height: 16.4px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  }
  .Lorem-ipsum-dolor {
    width: 428px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
  }
  .-Green-Queen-2019 {
    width: 275px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
padding-top: 160px;
padding-left: 418px;
  }
  .Information {
    width: 275px;
    height: 22.6px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #272727;
    position: fixed;
    bottom: 30px  ;
    left: 1125px;
  }
  .sub-e-mail {
    width: 325px;
    height: 49.2px;
    border-radius: 24px;
    border: solid 2px #272727;
  }