.NavBar {
   
    position: fixed;
      width: 1920px;
      height: 100px;
      box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0);
      background-color: #ffffff;
    
    
}
.logo1 {
  width: 97px;
  height: 43px;
  object-fit: contain;
  position: fixed;
  top:32px;
  left: 414px;
}

.FAQ {
  width: 57px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  position: fixed;
    top:41px;
    left: 1063px
    ;
}

.Inspiration {
  width: 105px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  position: fixed;
  top:41px;
  left: 1150px

  ;
}
.buttonPaT{
  width: 192px;
  height: 56px;
  border-radius: 32.5px;
  background-color: #2ac653;
  position: fixed;
  top:23px;
  left: 1309px;
}
.PlantaTree {
  width: 168px;
  height: 18px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: fixed;
  top:42px;
  left: 1321px;
}
